<h1>Questions</h1>

{{!-- api search buttons added--}}
<div class="navgate">
    <button id="single" class="btn btn-primary">Single Jeopardy</button>
    <button id="double" class="btn btn-primary">Double Jeopardy</button>
    <button id="category" class="btn btn-primary">Category Jeopardy</button>

</div>

<div class="questionsX">

    
</div>


<script src="/js/questions.js"></script>