<h1>Questions</h1>

{{!-- api search buttons added--}}
<div class="navgate">
    <button id="single" class="btn btn-primary">Single Jeopardy</button>
    <button id="double" class="btn btn-primary">Double Jeopardy</button>
    <button id="category" class="btn btn-primary">Category Jeopardy</button>

</div>

<div class="questions">
    <div class="card">
        <h5 id="displayQ" class="card-header">Questions: </h5>
        <div class="card-body">
            <input class="card-title" id="answer" />
            {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
            <button id="subAns" class="btn btn-primary">Answer</button>
            <div class="ansAlert"> </div>
        </div>
    </div>
</div>


<script src="/js/questions.js"></script>