<div class="container">
  <div class="row">
    {{#each highScore}}
        <div class="col-md-2 row">
            <span>{{email}}</span>
            <span>{{highScore}}</span>
        </div>
    {{/each}}
  </div>
</div>