<div class="container">
  <div class="row emailHighScore">
    {{#each highScore}}
        <div class="col-md-6 row">
            <span class="email">Email: {{email}}</span>
            <span class="highScore">HighScore: {{highScore}}</span>
        </div>
    {{/each}}
  </div>
</div>