{{!-- home page with signup and login navigetion buttons added --}}
<div class="container home">

    <div class="div1">
        <div class="Jeoparday">
        <h1>Jeopardy!</h1>
        </div>
        <div class="loginBtn">
            <a href="/login" class="btn btn-primary mylogin">login</a>
        </div>
    </div>

    <div class="div2">
        <p>An Alex Trebek Tribute Trivia Challenge</p>
    </div>

    <div class="div3">
        <div class="MyImg">
            <img src="./Images/IMG2.JPG" alt="photo"/>
        </div>
        <div class="bio">
            <h4>Some biographical info, maybe a quote or something</h4>
        </div>
    </div>

    <div class="div4">
        <a href="/signup" class="btn btn-primary lg">New user create account</a>
    </div>

</div>