{{!-- home page with signup and login navigation buttons added --}}

<div class="container home">

    <div class="div1">
        <div class="Jeopardy">
            <h1>An Alex Trebek Tribute Trivia Challenge!</h1>
        </div>
    </div>


    <div class="div3">
        <div class="row6">
            <div class="col-md-6">
                <img src="./Images/Alex_500x375.png" alt="alex trebek photo" width="100%" height="auto" />
            </div>
            <div class="col-md-6">
                <p>&nbsp;</p>
                <h4>Quotes by Alex</h4>
                <ul>
                    <p class="quotes"><span style="color: black;">&bull;&nbsp;</span><em>"Take your job seriously, but don’t take yourself too seriously."</em></p>
                    <p class="quotes"><span style="color: black;">&bull;&nbsp;</span><em>"Don’t minimize the importance of luck in determining life’s course."</em></p>
                    <p class="quotes"><span style="color: black;">&bull;&nbsp;</span><em>"Have you ever met a successful person who wasn’t restless - who was satisfied with where he or she was in life? They want new challenges. They want to get up and go… and that’s one of the reasons they’re successful."</em></p>
                    <p class="quotes"><span style="color: black;">&bull;&nbsp;</span><em>"I have an Apple computer, which I use to play Spider Solitaire and do research on the Internet."</em></p>
                    <p class="quotes"><span style="color: black;">&bull;&nbsp;</span><em>"What goes 0-300 in less than 2 seconds? Your mother on a scale."</em></p>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>


<div class="div4">
    <a href="/signup" class="btn btn-primary lg">New user? Create account</a>
</div>

</div>