/* Sets everything to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

form.signup,
form.login {
  margin-top: 50px;
}

body {

  /* background-color: aqua; */
  background-color: #1779ba;

  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home {
  width: 96%;

 border-radius:10px ;
}

nav.navbar.navbar {
  background-color: darkgray;
}

div .col-md-6-col-md-offset-3, h2 {
  height: 25px;
  margin-bottom: 10px;
  line-height: 1.9;
}

 .form-group {
  font-size: medium;
  line-height: normal;
}

h1,h2, h3, h4, p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: center;
  font-weight: 800;
  line-height: 1.9;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

a {
  color:black;
  font-size: 30px;
  margin-top: 10px;
}

form {
  line-height: normal;
  margin-top: 10px;
}

.container-fluid {
  background-color:gray;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

p, h4 {
  font-size: 30px;
  color:black;

}

.div1 {
  background-color: #1D2D5C;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;

  border-radius:10px;

}

.div1 h1 {
  color: #ddd;
  font-size: 70px;
  padding-bottom: 15px; 
}

.loginBtn {
  margin-top: 10px;
}

.loginBtn a {
  font-size: 20px;
}

.mylogin {
  color: black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding-top:20px; 
}


.btn {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: black;
}

button {
  font-size: 20px;

} 


.div2 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  font-size: 35px;
  text-align: center;
}

.div3 {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 auto;
  margin-top: 40px;
}


img {
  width: 75%;
  height: auto;
  border-radius:10px;
  box-shadow: 10px 10px 5px grey;
}


.MyImg {
  display: flex;
}

.MyImg img {
border-radius: 50%;
margin: 0 auto;
width: 150px;
height: 150px;
}

.bio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: wheat;
  border: 1px gray solid;
  padding: 40px;
  border-radius:10px ;
  margin-top: 30px;
};

.bio h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 800;
}


.div4 {
  width: 96%;
  margin: 0 auto;
  padding: 40px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  border-radius:10px ;
}


.navbar-header,.navbar-brand {
  float: right;

.navbar-header, .navbar-brand {
  color: white;
  background-color: gray;
  float: right;
}
a.navbar-brand {
  color: white;
  font-style: bold;

}

.div4 a {
  padding: 20px;
  margin-top: 20px;
  color: black;
}

.questionsX {
  margin: 0 auto;
  margin-top: 40px;
  width: 80vw;
  padding: 20px;
}

.card {
  border: 2px gray solid;
  width: 96%;
  padding: 20px;
}

.ansAlert1 {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  border-radius: 55%;
  border: 1px gray solid;
  display: flex;
  flex: wrap;
}

div {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #ddd;
  };

  .div1, .div2, .div3, .div4 {
    display: flex;
    font-size: 20px;
    margin-left: 20px;
    margin: 20px;
  };


  .loginBtn {
    display: flex;
  }

  

  .loginBtn, .mylogin {

    font-size: 5px;
    display: flex;
  }


  .MyImg, .bio h4, .div1 h1 {
    font-size: 35px;

  }

  .div3  {
    font-size: small;
    display: flex;
    flex-direction: column;
  }
  
  .div4 a {

    font-size: 12px;
  }

  #single, #double, #category,#subAns {

  display: flex;
  font-size: 20px;
  margin-left: 20px;
  margin: 20px;
  }

  h1 {
    margin-left: 20px;
  }

};


@media only screen and (max-width: 425px) {
  .home {
    border: 1px gray solid;

    width: 96vw;
    border-radius:10px ;

  }

  .div1 {
    display: flex;

    flex-direction: column;

  }
};

/* gameBoard.handlebars styling*/

*, *:before, *:after {
  box-sizing: border-box;
}

.board {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board .row {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.board .row .tile {
  top: 0;
  bottom: 0;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  font-family: impact;
  color: #ddd;
  background: linear-gradient(to top left, #000088, #0000ff);
  border: 3px solid #000;
}

.board .row .question-value {
  display: block;
}

.board .row .question-answer {
  display: none;
}

.board .row .tile.active {
  border-width: 0;
  font-size: 10vw;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
}

.board .row .tile.active .question-value {
  display: none;
}

.board .row .tile.active .question-answer {
  display: block;
}


}