/* Sets everything to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

form.signup,
form.login {
  margin-top: 50px;
}

body {
  /* background-color: aqua; */
  background-color: #1779ba;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home {
  border: 1px gray solid;
  width: 96%;
 border-radius:10px ;
}

nav.navbar.navbar {
  background-color: darkgray;
}

div .col-md-6-col-md-offset-3, h2 {
  height: 25px;
  margin-bottom: 10px;
  line-height: 1.9;
}

 .form-group {
  font-size: medium;
  line-height: normal;
}

h1,h2, h3, h4, p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: center;
  font-weight: 800;
  line-height: 1.9;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

a {
  color:black;
  font-size: 30px;
  margin-top: 10px;
}

form {
  line-height: normal;
  margin-top: 10px;
}

.container-fluid {
  background-color:gray;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

p, h4 {
  font-size: 30px;
  color:black;
}

.div1 {
  background-color: wheat;
  border: 1px gray solid;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  border-radius:10px ;
}

.div1 h1 {
  font-size: 70px;
  padding-bottom: 15px; 
}

.loginBtn {
  margin-top: 10px;
}

.loginBtn a {
  font-size: 20px;
}

.mylogin {
  color: black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding-top:20px; 
}

.btn {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: black;
}

button {
  font-size: 20px;

} 

.div2 {
  background-color: wheat;
  border: 1px gray solid;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
  border-radius:10px ;
}

.div3 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-radius:10px ;
  margin: 0 auto;
  margin-top: 40px;
 
}
.MyImg {
  display: flex;
}

.MyImg img {
border-radius: 50%;
margin: 0 auto;
width: 150px;
height: 150px;
}

.bio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: wheat;
  border: 1px gray solid;
  padding: 40px;
  border-radius:10px ;
  margin-top: 30px;
};

.bio h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 800;
}

.div4 {
  width: 96%;
  margin: 0 auto;
  padding: 40px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  border-radius:10px ;

}

.navbar-header, .navbar-brand {
  color: white;
  background-color: gray;
  float: right;
}
a.navbar-brand {
  color: white;
  font-style: bold;
}

.div4 a {
  padding: 20px;
  margin-top: 20px;
  color: black;
}

.questionsX {
margin: 0 auto;
margin-top: 40px;
width: 80vw;
padding: 20px;
}

.card {
  border: 2px gray solid;
  width: 96%;
  padding: 20px;
}

.ansAlert1 {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  border-radius: 55%;
  border: 1px gray solid;
  display: flex;
  flex: wrap;
}

div {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  };

  .div1, .div2, .div3, .div4 {
    display: flex;
    font-size: 20px;
    margin-left: 20px;
    margin: 20px;
  };

  .loginBtn, .mylogin {
    font-size: 5px;
    display: flex;
  }

  .MyImg img, .bio h4, .div1 h1 {
    font-size: 20px;
  }

  .div3  {
    font-size: small;
    display: flex;
    flex-direction: column;
  }
  
  .div4 a {
    font-size: 13px;
  }

  #single, #double, #category,#subAns, #game {
  display: flex;
  font-size: 20px;
  margin-left: 20px;
  margin: 20px;
  }

  h1 {
    margin-left: 20px;
  }
};

@media only screen and (max-width: 425px) {
  .home {
    border: 1px gray solid;
   width: 96vw;
   border-radius:10px ;
  
  }
  .div1 {
    display: flex;
   flex-direction: column;
  }
};